- var isDisabled = comment.removed || comment.flags.length > 5
- var isUser = currentUser
- var isAdmin = currentUser === Object(currentUser) && currentUser.email === 'jbacon@zagmail.gonzaga.edu'
- var isOwner = currentUser === Object(currentUser) && currentUser._id === comment.accountID
article.comment(data-id=comment._id data-account-id=comment.accountID data-article-id=comment.articleID data-parent-comment-id=comment.parentCommentID)
	p= (comment.removed || isDisabled) ? '~~Comment has been Removed~~' : comment.text
	footer
		div.actions
			span.replies-toggle.clickable(class=(comment.childCommentIDs.length > 0) ? '' : 'hidden') Show Replies
			span.load-newer.clickable.hidden Load Latest...
			span.reply-toggle.clickable(class=(isUser && !isDisabled) ? '' : 'hidden') Reply
			span.up-vote-count(class=(!isDisabled) ? '' : 'hidden')= '+'+comment.upVoteAccountIDs.length
			span.up-vote.clickable(class=(isUser && !isDisabled) ? '' : 'hidden') Up
			span.down-vote-count(class=(!isDisabled) ? '' : 'hidden')= '-'+comment.downVoteAccountIDs.length
			span.down-vote.clickable(class=(isUser && !isDisabled) ? '' : 'hidden') Down
			span.remove.clickable(class=((isAdmin || isOwner) && !isDisabled) ? '' : 'hidden') Remove
			span.flag.clickable(class=(isUser && !isDisabled) ? '' : 'hidden') Flag
		div.replies.hidden(data-start='newest')
		div.load-older.clickable.hidden Load More...
		form.create.hidden(action='')
			input.article-id(name='articleID' type='hidden' value=comment.articleID)
			input.parent-comment-id(name='parentCommentID' type='hidden' value=comment._id)
			input.text(name='text' type='text' placeholder='Text...')
			button.submit.clickable Submit