article.comment(data-id=comment._id data-account-id=comment.accountID data-article-id=comment.articleID data-parent-comment-id=comment.parentCommentID)
	p= comment.text
	footer
		span.up-vote-count= comment.upVoteCount
		span.up-vote Up
		span.down-vote-count= comment.downVoteCount
		span.down-vote Down
		span.delete.hidden Delete
		div.replies-toggle Show Replies
		div.load-newer.hidden Load New...
		div.replies.hidden
		div.load-older.hidden Load Older...
		div.reply-toggle.hidden Reply
		form.create.hidden(action='')
			input.article-id(name='articleID' type='hidden' value=comment.articleID)
			input.parent-comment-id(name='parentCommentID' type='hidden' value=comment._id)
			input.text(name='text' type='text' placeholder='Text...')
			button.submit Submit