article.comment(data-id=_id data-account-id=accountID data-article-id=articleID data-parent-comment-id=parentCommentID)
	p= text
	footer
		span.up-vote-count= upVoteCount
		span.up-vote Up
		span.down-vote-count= downVoteCount
		span.down-vote Down
		span.delete Delete
		div.replies-toggle Show Replies
		div.replies(style='display: none')
		div.reply-toggle Reply
		form.create(action='' style='display: none')
			input.article-id(name='articleID' type='hidden' value=articleID)
			input.parent-comment-id(name='parentCommentID' type='hidden' value=parent-comment-id)
			input.text(name='text' type='text' placeholder='Text...')
			button.submit Submit